@charset "utf-8";
/* reset.css */
body, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, form, input, textarep, th, td, p {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
}
img {
	border:none;
	vertical-align:top;
}
li {
	list-style:none
}
a {
	text-decoration:none
}
textarea {
	resize:none;
	overflow:auto;
}
input, textarea, select, lable {
	outline:none;
}
.clear {
	zoom:1;
}
.clear:after {
	content:"";
	display:block;
	clear:both;
}
/* end reset.css */

/* public.css */
body {
	min-width:980px;
	position:relative;
}
.wrap {
	width:980px;
	margin:0 auto;
}
#topMenu {
	background:#333;
}
#topMenu .wrap {
	height:80px;
}
#logo {
	width:182px;
	height:80px;
	float:left;
	background:url(../img/index.gif) no-repeat 0 20px;
}
#logo a {
	display:block;
	width:100%;
	height:100%;
	text-indent:-9999px;
	overflow:hidden;
	float:left;
	outline:none;
	color:#fff;
}
#topNav {
	font:14px/76px "微软雅黑";
	padding-right:23px;
	border-right:1px solid #494949;
	width:574px;
	height:80px;
	float:left;
}
#topNav li {
	float:left;
}
#topNav a {
	float:left;
	padding:0 12px 1px;
}
#topNav a {
	color:#bdbdbd;
}
#topNav a:hover, #topNav .active {
	background-color:#090909;
	border-bottom:3px solid #9de25e;
}
#topNav a:hover, #topNav .active {
	color:#9de25e;
}
#login {
	font:12px/80px Arial, Tahoma, "hiragino sans gb", Helvetica;
	padding-left:34px;
	float:left;
	color:#fff;
}
#login a {
	color:#42a41b;
	font-family: Arial, Tahoma, "hiragino sans gb", Helvetica;
}
/* end public.css */

/* index.css(i) */
#iBanner {
	height:300px;
	background:#06ac88;
}
/* end index.css */

/* musicVip.css(m) */
#mBanner {
	width:980px;
	height:300px;
	position:relative;
	margin:0 auto;
}
/* end musicVip.css */

/* greeFee.css(l) */
#gBanner {
	width:980px;
	height:300px;
	margin:0 auto;
}
.open {
	width:980px;
	margin:0 auto;
	margin-top:30px;
	font:12px/18px Arial, Tahoma, "hiragino sans gb", Helvetica;
	color:#4d4d4d;
}
.open .title {
	border-left:5px solid #98c55f;
	padding-left:16px;
}
.open .title h2 {
	letter-spacing:-1px;
	color:#333333;
	font:16px/16px "微软雅黑";
	margin-bottom:17px;
}
.price {
	margin-bottom:21px;
}
.price .pay {
	font-weight:bold;
	padding-left:23px;
	line-height:16px;
	padding-bottom:2px;
	padding-right:3px;
}
.price p {
	float:left;
}
.open span {
	color:#fe7b10;
}
.channel {
	margin-bottom:17px;
}
.channel .pay {
	font-weight:bold;
	padding-left:49px;
	line-height:16px;
	padding-bottom:2px;
	float:left;
	padding-right:3px;
}
.channel ul {
	float:left;
}
.methods .introduce {
	width:863px;
	border:1px solid #d3d3d3;
	font:12px/20px Arial, Tahoma, "hiragino sans gb", Helvetica;
}
.methods .openMethods {
	font-weight:bold;
	padding-left:49px;
	line-height:16px;
	padding-top:2px;
	padding-right:3px;
	float:left;
}
.methods .explain {
	float:left;
}
.explain .introduce td {
	border:1px solid #d3d3d3;
	padding:13px 0 11px 20px;
}
.introduce span {
	color:#9e9e9e;
}
.explain .supply {
	margin-top:17px;
	color:#9e9e9e;
	padding-bottom:13px;
}
.explain img {
	float:left;
	margin-right:5px;
	margin-bottom:50px;
}
.explain ul {
	margin-top:21px;
	font:12px/12px Arial, Tahoma, "hiragino sans gb", Helvetica;
}
.explain ul li {
	width:56px;
	background:url(../img/greeFee.gif) no-repeat right 0;
	float:left;
	padding-left:5px;
}
.explain ul .last {
	background:none;
}
.explain ul li a {
	color:#42a41b;
}
.explain ul li a:hover {
	text-decoration:underline;
}
.only {
	width:980px;
	margin:0 auto;
}
.only .title {
	border-left:5px solid #98c55f;
	padding-left:16px;
}
.only .title h2 {
	letter-spacing:-1px;
	color:#333333;
	font: bold 16px/16px "微软雅黑";
	margin-bottom:20px;
}
.only ul {
	font:12px/12px Arial, Tahoma, "hiragino sans gb", Helvetica;
	color:#4d4d4d;
}
.only li {
	float:left;
	width:188px;
	padding:0 55px 0 16px;
	text-align:center;
}
.only li span {
	display:block;
	text-align:center;
	padding:19px 0 35px 0;
}
.only .last {
	width:160px;
	padding:0 0 0 41px;
}
.only .last1 {
	margin-left:-3px;
	padding-right:50px;
}
.only .last3 {
	padding-left:24px;
}
.only .last1 span, .only .last3 span, .only .last4 span {
	padding:26px 0 37px 0;
}
.vs {
	width:980px;
	margin:0 auto;
	margin-bottom:30px;
}
.vs .title {
	border-left:5px solid #98c55f;
	padding-left:16px;
}
.vs .title h2 {
	letter-spacing:-1px;
	color:#333333;
	font: bold 16px/16px "微软雅黑";
	margin:8px 0 15px 0;
}
.vs .introduce td, .vs .introduce th {
	border:1px solid #d3d3d3;
	text-align:center;
	vertical-align:middle;
	font-size:12px;
	line-height:18px;
	font-family: Arial, Tahoma, "hiragino sans gb", Helvetica;
	height:38px;
	color:#4d4d4d;
}
.vs .introduce .special {
	color:#fe7b10;
}
.vs .introduce .special2 {
	height:56px;
}
.vs a {
	color:#42a41b;
}
.help {
	width:980px;
	margin:0 auto;
	margin-bottom:30px;
}
.help .title {
	border-left:5px solid #98c55f;
	padding-left:16px;
}
.help .title h2 {
	letter-spacing:-1px;
	color:#333333;
	font: bold 16px/16px "微软雅黑";
	margin:8px 0 15px 0;
}
.help {
	color:#787878;
	font:12px/22px Arial, Tahoma, "hiragino sans gb", Helvetica;
}
.help h5 a {
	font:12px/12px Arial, Tahoma, "hiragino sans gb", Helvetica;
	background:url(../img/greeFee.gif) no-repeat 0 -42px;
	padding-left:25px;
	color:#4e4f4e;
}
.help h5 {
	margin-bottom:7px;
}
.help p {
	padding-left:25px;
}
.help ol li {
	list-style: decimal;
	margin-left:58px;
}
.help ol li ul li {
	list-style:none;
	background:url(../img/greeFee.gif) no-repeat -1px -78px;
	padding-left:11px;
	margin-left:20px;
}
.help a {
	color:#42a41b;
}
.help .help1 {
	margin-bottom:22px;
}
.help .help2 {
	margin-bottom:22px;
}
.help .help3 {
	margin-bottom:22px;
}
.help .help4 {
	margin-bottom:22px;
}
.help .help5 {
	margin-bottom:22px;
}
.help .help6 {
	margin-bottom:22px;
}
.help .help7 {
	margin-bottom:22px;
}
#footer {
	height:138px;
	font:12px/14px Arial, Tahoma, "hiragino sans gb", Helvetica;
	margin-top:-10px;
}
.iwrap7 {
	width:763px;
	margin:0 auto;
	padding:35px 0 0 217px;
	color:#888888;
}
#footer li {
	padding:2px 14px 0 11px;
	background:url(../img/index.gif) no-repeat right -444px;
	float:left;
}
#footer .special {
	padding-right:21px;
}
#footer .last {
	background:none;
}
#footer .copy {
	padding-left:121px;
	padding-top:12px;
}
#footer .copyright {
	padding-left:156px;
	padding-top:13px;
}
#footer a {
	color:#888888;
}
#footer a:hover {
	text-decoration:underline;
	color:#42a41b;
}
/* end life.css */

/* game.css(g) */
#asdBanner {
	height:320px;
	background:#edecec;
}
/* end game.css */
